{% extends "mysite/header.html" %}
{% block content %}
<h1><center>BBA</center></h1>
<p>The Bachelor of Business Administration (BBA or B.B.A.) is a bachelor's degree in commerce and business administration. In most universities, the degree is conferred after four years of full-time study in one or more areas of business concentrations. The BBA program usually includes general business courses and advanced courses for specific concentrations.
</p>
<p>The specializations often include:
</p>
<ul>
<li>
</li><li>Accounting
</li><li>Entrepreneurship
</li><li>Finance
</li><li>Aviation management
</li><li>Human resource management
</li><li>International business
</li><li>Information technology
</li><li>Legal management
</li><li>Design management
</li><li>Management
</li><li>Management information systems
</li><li>Marketing
</li><li>Operations management
</li><li>Real estate
</li><li>Supply chain management
</li><li>Public relations
</li><li>Radio & TV production
</li><li>Tourism and Hospitality
</li>

{% endblock %}