{% extends "mysite/header.html" %}
{% block content %}

<h1><center>Engineering Courses</center></html>
After finishing 12th science stream schooling, one may go for undergraduate B.E. or B.Tech. Engineering program. The course duration is 4 years. After B.E./B.Tech., one may also go for M.E./M.Tech., which is master degree course in Engineering! M.E./ M.Tech. program lasts for 2 years. Some of the prominent branches of Engineering are-
<ul>
 

<li>Mechanical Engineering
</li>
<li>Electrical Engineering
</li><li>Civil Engineering
</li><li>Chemical Engineering
</li><li>Computer Science Engineering
</li><li>IT Engineering
</li><li>IC Engineering
</li><li>EC Engineering
</li><li>Electronics Engineering
</li><li>Electronics and Telecommunication Engineering
</li><li>Petroleum Engineering
</li><li>Aeronautical Engineering
</li><li>Aerospace Engineering
</li><li>Automobile Engineering
</li><li>Mining Engineering
</li><li>Biotechnology Engineering
</li><li>Genetic Engineering
</li><li>Plastics Engineering
</li><li>Food Processing and Technology
</li><li>Agricultural Engineering
</li><li>Dairy Technology and Engineering
</li><li>Agricultural Information Technology
</li><li>Power Engineering
</li><li>Production Engineering
</li><li>Infrastructure Engineering
</li><li>Motorsport Engineering
</li><li>Metallurgy Engineering
</li><li>Textile Engineering
</li><li>Environmental Engineering
</li><li>Marine Engineering
</li><li>Naval Architecture
</li>
{% endblock %}